<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Bridely</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/mobile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>

<body>
    <!-- HEADER-SECTION -->
    <div class="home-header-section">
        <!-- <figure class="banner-right-img left_icon img">
            <img src="./assets/images/header-right-img.png" alt="" class="star">
        </figure> -->
        <div class="header-top header-top1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 d-md-block d-sm-none">
                        <!-- <div class="header-left d-table-cell align-middle">
                          <div class="phone-icon d-inline-block"><i class="fa-solid fa-phone-volume"></i></div><p class="free-consultation-text">For a free consultation:<a href="tel:+123456789" class="text-decoration-none">0800 123 45 67 890</a></p>
                        </div> -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-right float-md-right float-none">
                            <ul class="list-unstyled">
                                <li class="d-inline-block"><a class="d-inline-block email-span text-decoration-none"
                                        href="mailto:info@sencare.com">Folllow us on:</a></li>
                                <li class="d-inline-block user-li"><i class="fa-brands fa-facebook-f"></i></li>
                                <li class="d-inline-block user-li"><i class="fa-brands fa-twitter"></i></li>
                                <li class="d-inline-block user-li"><i class="fa-brands fa-pinterest-p"></i></li>
                                <li class="d-inline-block user-li"><i class="fa-brands fa-instagram"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="main-header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <a class="navbar-brand pt-0" href="index.html"><img src="./assets/images/bridely-logo.png"
                                alt="" class="img-fluid diverge-logo"></a>
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                                        href="index.html">Home<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="about.html">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="services.html">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="gallery.html">Gallery</a>
                                </li>
                                <!-- <li class="nav-item navbar-text-color"><a class="nav-link text-decoration-none contact-us-margin navbar-text-color" href="pricing.html">Pricing</a></li> -->
                                <!-- <li class="nav-item dropdown redlight-dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <div class="dropdown-menu dropdown-content-redlight">
                                        <ul class="list-unstyled">
                                            <li class="nav-item"> <a class="dropdown-item nav-link"
                                                    href="pricing.html">Pricing</a></li>
                                            <li class="nav-item"> <a class="dropdown-item nav-link"
                                                    href="single_gallery.html">Gallery Single</a></li>
                                            <li class="nav-item"> <a class="dropdown-item nav-link"
                                                    href="organizer.html">Event Organizer</a></li>        
                                            <li class="nav-item"> <a class="dropdown-item nav-link"
                                                    href="comming-soon.html">Comming soon</a></li>
                                        </ul>
                                    </div>
                                </li> -->
                            </ul>
                            <div class="btn-talk ml-auto">
                                <ul class="m-0 p-0">
                                    <li class="list-unstyled d-lg-inline-block"><a class="nav-link contact" href="/login">Log In</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- BANNER-SECTION -->
        <div class="home-banner-section overflow-hidden position-relative">
            <figure class="banner-img1 mb-0">
                <img src="./assets/images/banner-img1.png" alt="" class="star">
            </figure>
            <figure class="banner-img2 mb-0">
                <img src="./assets/images/banner-img2.png" alt="" class="star">
            </figure>
            <div class="banner-container-box">
                <div class="container">
                    <div class="row">
                        <div
                            class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-md-0 mb-4 text-md-left text-center order-lg-1 order-2">

                            <div class="banner-img-content position-relative">
                                <figure class="banner-img mb-0">
                                    <img class="img-fluid banner-img-width"
                                        src="assets/images/bridely-banner-left-img.png" alt="">
                                </figure>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 order-lg-2 order-1">
                            <div class="home-banner-text position-relative" data-aos="fade-up" id="myContentDIV">
                                <!-- <figure class="ring-icon-img mb-0">
                                    <img src="./assets/images/ring-icon-banner.png" alt="">
                                </figure> -->
                                <h1>Event Planning <br><span class="h1-text">Made Easy!</span></h1>
                                <p class="banner-paragraph">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit sed doeiusm tempor incididunt
                                </p>
                                <div class="banner-btn discover-btn-banner">
                                    <a href="/signup" class="text-decoration-none"><i
                                            class="fa fa-clipboard-list"></i>Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- About-us-section -->
        <div class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 order-lg-1 order-1">
                        <div class="about-us-content aos-init aos-animate" data-aos="fade-up">
                            <h5 class="autorix-text"><span>About
                                    Event Hub</span></h5>
                            <h2>What We do, We do With Passion</h2>
                            <p class="aboutus-p">Lorem ipsum dolor sit
                                amet consectetur adipiscing elit sed doeiusm tempor incididunt </p>
                            <div class="banner-btn discover-btn-banner">
                                <a href="about.html" class="text-decoration-none">learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 order-lg-2 order-2">
                        <div class="about-content-img">
                            <figure class="mb-0 about-section-f1"><img src="./assets/images/about-bird-icon.png" alt="" class="star">
                            </figure>
                            <figure class="mb-0 about-section-f2"><img src="./assets/images/about-img1.png" alt="">
                            </figure>
                            <figure class="mb-0 about-section-f3"><img src="./assets/images/about-img2.png" alt="">
                            </figure>
                            <figure class="mb-0 about-section-f4"><img src="./assets/images/about-img3.png" alt="">
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Video-SECTION -->
    <!-- <div class="video-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="video-section-conten" data-aos="fade-up">
                        <figure class="mb-0 video-section-image">
                            <img src="./assets/images/video-img.png" alt="" class="fluid-img">
                        </figure>
                        <a class="popup-vimeo"
                            href="https://previews.customer.envatousercontent.com/h264-video-previews/5afc8770-eb05-42ec-b854-9fb6b3bb52c5/40068661.mp4">
                            <figure class="mb-0 vide-play-img">
                                <img src="./assets/images/video-play-icon.png" alt="" class="fluid-img">
                            </figure>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div> -->
    <!-- Categories-SECTION -->
    <!-- <section class="categories-section overflow-hidden position-relative">
        <figure class="hearts-img">
            <img src="./assets/images/categories-img1.png" alt="" class="star">
        </figure>
        <figure class="design-img">
            <img src="./assets/images/categories-img6.png" alt="" class="star">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 order-lg-1 order-1">
                    <div class="about-us-content" data-aos="fade-up">
                        <div class="cate-icon-outer">
                            <figure class="cate-icon-img mb-0">
                                <img src="./assets/images/categories-logo-img.png" alt="">
                            </figure>
                        </div>
                        <h2>Includes Various Product Categories
                        </h2>
                        <p class="aboutus-p">Lorem ipsum dolor sit amet
                            consectetur adipiscing elit sed doeiusm tempor incididunt.</p>
                        <div class="banner-btn discover-btn-banner">
                            <a href="about.html" class="text-decoration-none">learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 order-lg-2 order-2">
                    <div class="about-content-img">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="card card1">
                                    <figure class="mb-0 category-section-f2"><img
                                            src="./assets/images/categories-img2.png" alt=""></figure>
                                    <h6>Chairs</h6>
                                </div>
                                <div class="card card2">
                                    <figure class="mb-0 category-section-f3"><img
                                            src="./assets/images/categories-img3.png" alt=""></figure>
                                    <h6>Wedding Walls</h6>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="card card3">
                                    <figure class="mb-0 category-section-f4"><img
                                            src="./assets/images/categories-img4.png" alt=""></figure>
                                    <h6>Catering</h6>
                                </div>
                                <div class="card card4">
                                    <figure class="mb-0 category-section-f5"><img
                                            src="./assets/images/categories-img5.png" alt=""></figure>
                                    <h6>Metal Circles & Flowers</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--make-reservation-section -->
    <!-- <div class="reservation-section overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <figure class="mb-0 reservation-logo">
                        <img src="./assets/images/reservation-logo.png" alt="">
                    </figure>
                    <h2 class="text-center">The Unrivaled Scenery, Unforgettable Wedding
                        Program</h2>
                </div>
            </div>
            <div class="row" data-aos="fade-up">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <figure class="mb-0 reservation-img1">
                        <img src="./assets/images/reservation-img1.png" alt="" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <figure class="reservation-img2">
                        <img src="./assets/images/reservation-img2.png" alt="" class="img-fluid">
                    </figure>
                    <figure class="mb-0 reservation-img3">
                        <img src="./assets/images/reservation-img3.png" alt="" class="img-fluid">
                    </figure>
                </div>
            </div>

            <div class="banner-btn discover-btn-banner">
                <a href="about.html" class="text-decoration-none">Make Reservations</a>
            </div>
        </div>
    </div> -->
    <!-- Event-Togrther-Section -->
    <section class="event-section overflow-hidden position-relative">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-2 order-2">
                    <div class="about-us-content aos-init aos-animate" data-aos="fade-up">
                        <div class="cate-icon-outer">
                            <figure class="cate-icon-img mb-0">
                                <img src="./assets/images/event-design-logo.png" alt="">
                            </figure>
                        </div>
                        <h2>Let’s Plan Your Next Event Together
                        </h2>
                        <p class="aboutus-p">Lorem ipsum dolor sit amet
                            consectetur adipiscing elit sed doeiusm tempor incididunt.</p>
                        <div class="banner-btn discover-btn-banner">
                            <a href="about.html" class="text-decoration-none">learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-5 col-sm-12 order-lg-1 order-1">
                    <div class="event-content-img aos-init aos-animate">
                       <ul class="list-unstyled mb-0">
                        <li>
                            <figure class="mb-0 icons-fig">
                                <img src="./assets/images/event-img1.png" alt="">
                            </figure>
                            <h6>Entertaintment</h6>
                        </li>
                        <li>
                            <figure class="mb-0 icons-fig">
                                <img src="./assets/images/event-img2.png" alt="">
                            </figure>
                            <h6>Dining</h6>
                        </li>
                    </ul>
                    <ul class="list-unstyled second mb-0">
                        <li>
                            <figure class="mb-0 icons-fig">
                                <img src="./assets/images/event-img3.png" alt="">
                            </figure>
                            <h6>Decor</h6>
                        </li>
                        <li>
                            <figure class="mb-0 icons-fig">
                                <img src="./assets/images/event-img4.png" alt="">
                            </figure>
                            <h6>Swag & Gifting</h6>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Event-Organizer-Section -->
    <section class="event-org-section overflow-hidden position-relative">
        <figure class="hearts-img">
            <img src="./assets/images/categories-img1.png" alt="" class="star">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-1 order-1">
                    <div class="about-us-content aos-init aos-animate" data-aos="fade-up">
                        <div class="cate-icon-outer">
                            <figure class="cate-icon-img mb-0">
                                <img src="./assets/images/categories-logo-img.png" alt="">
                            </figure>
                        </div>
                        <h2>Meet Our Creative Event Organizer</h2>
                        <p class="aboutus-p">Lorem ipsum dolor sit amet
                            consectetur adipiscing elit sed doeiusm tempor incididunt.</p>
                        <div class="banner-btn discover-btn-banner">
                            <a href="about.html" class="text-decoration-none">learn more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12 order-lg-2 order-2">
                    <div class="about-content-img">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="card card1">
                                        <figure class="mb-0 category-section-f2"><img src="./assets/images/event-org-img1.png" alt=""></figure>
                                        <h6>Alisha Rees</h6>
                                        <div class="hover_box_plus">
                                            <ul class="p-0 text-center">
                                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter"></i></a></li>
                                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card card2">
                                        <figure class="mb-0 category-section-f3"><img src="./assets/images/event-org-img2.png" alt=""></figure>
                                        <h6>Rhys Carter</h6>
                                        <div class="hover_box_plus">
                                            <ul class="p-0 text-center">
                                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter"></i></a></li>
                                                <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="card card3">
                                    <figure class="mb-0 category-section-f4"><img src="./assets/images/event-org-img3.png" alt="" ></figure>
                                    <h6>Kyle Buckley</h6>
                                    <div class="hover_box_plus">
                                        <ul class="p-0 text-center">
                                            <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f"></i></a></li>
                                            <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter"></i></a></li>
                                            <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card card4">
                                    <figure class="mb-0 category-section-f5"><img src="./assets/images/event-org-img4.png" alt=""></figure>
                                    <h6>Maisie Walton</h6>
                                    <div class="hover_box_plus">
                                        <ul class="p-0 text-center">
                                            <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-facebook-f"></i></a></li>
                                            <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-twitter"></i></a></li>
                                            <li><a href="#" class="text-decoration-none"><i class="fa-brands fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Story-Section -->
    <section class="story-section overflow-hidden position-relative">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    <figure class="mb-0 about-section-f1"><img src="./assets/images/about-bird-icon.png" alt="" class="star">
                    </figure>
                    <div class="story-card-content aos-init aos-animate" data-aos="fade-up">
                        <figure class="story-card-img">
                            <img src="./assets/images/story-card-img.png" alt="">
                        </figure>
                        <h3>Marry Jain & Jamie Foster</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua quis ipsum suspendisse ultrices</p>
                        <div class="banner-btn discover-btn-banner">
                            <a href="about.html" class="text-decoration-none"><i class="fa fa-play"></i>See the
                                Story</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <figure class="mb-0 story-img1">
                                    <img src="./assets/images/story-section-img1.png" alt="" class="img-fluid">
                                </figure>
                            </div>
                            <div class="carousel-item active">
                                <figure class="mb-0 story-img1">
                                    <img src="./assets/images/story-section-img1.png" alt="" class="img-fluid">
                                </figure>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <i class="fa-solid fa-arrow-left"></i>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Form-Section -->

    <!-- <section class="form-section overflow-hidden">
        <figure class="hearts-img">
            <img src="./assets/images/categories-img1.png" alt="" class="star">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <figure class="form-section-img">
                        <img src="./assets/images/form-section-img1.png" alt="" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about-section-form position-relative" data-aos="fade-up">
                        <figure class="cate-icon-img">
                            <img src="./assets/images/categories-logo-img.png" alt="">
                        </figure>
                        <h2 class="contact-us-title">Make Reservations</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed doeiusm tempor incididunt </p>
                        <form id="form_id" method="post" action="./contact-form.php">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group contact-form-margin">
                                        <i class="fa-solid fa-user icons-form"></i> <input type="text" class="form-control input-text" id="validationCustom01" placeholder="Your Name" required="">
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group contact-form-margin">
                                        <i class="fa fa-envelope icons-form"></i> <input type="email"
                                            class="form-control input-text" id="validationCustom02" placeholder="Your Email"
                                            required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group contact-form-margin">
                                        <i class="fa fa-user-plus icons-form"></i>
                                        <i class="fa-solid fa-people-group icons-form"></i>
                                        <input type="text"
                                            class="form-control input-text" id="validationCustom03" placeholder="Guests"
                                            required="">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="form-group contact-form-margin"><i class="fa fa-calendar-days icons-form"></i>
                                        <select class="form-control">
                                            <option value="0"> Select Date:</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group special">
                                <select class="form-control select-icon select-event">
                                    <option value="0"> Select Event:</option>
                                    <option>America</option>
                                    <option>Australia</option>
                                    <option>America</option>
                                    <option>Saudia</option>
                                    <option>Belgium</option>
                                </select>
                            </div>
                            <div class="banner-btn discover-btn-banner">
                                <button type="submit" class="btn btn-primary">Make Reservations</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

<!-- Icons-Section -->
<!-- <div class="icons-section">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="icons-card">
               <div class="row">
                <ul class="list-unstyled mb-0">
                    <li>
                        <figure class="mb-0 icons-fig">
                            <img src="./assets/images/icon1.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 icons-fig">
                            <img src="./assets/images/icon2.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 icons-fig">
                            <img src="./assets/images/icon3.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 icons-fig">
                            <img src="./assets/images/icon4.png" alt="">
                        </figure>
                    </li>
                </ul>
                <ul class="list-unstyled second mb-0">
                    <li>
                        <figure class="mb-0 icons-fig">
                            <img src="./assets/images/icon5.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 icons-fig">
                            <img src="./assets/images/icon6.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 icons-fig">
                            <img src="./assets/images/icon7.png" alt="">
                        </figure>
                    </li>
                    <li>
                        <figure class="mb-0 icons-fig">
                            <img src="./assets/images/icon8.png" alt="">
                        </figure>
                    </li>
                </ul>
               </div>
            </div>
           </div>
       </div>
   </div>
</div> -->
<!-- Instagram-feed-section -->
<!-- <section class="insta-feed-section">
    <figure class="mb-0 insta-feed-img">
        <img src="./assets/images/footer-background-img.jpg" alt="" class="img-fluid star">
    </figure>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <figure class="mb-0 insta-bird-fig">
                <img src="./assets/images/insta-bird-img.png" alt="" class="star">
            </figure>
            <figure class="insta-fig">
                <img src="./assets/images/insta-icon.png" alt="">
            </figure>
          </div>
      </div>
      <h2>Instagram Feed</h2>
      <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <figure class="mb-0 insta-section-imgs">
                <img src="./assets/images/insta-section-img1.png" alt="" class="img-fluid">
                <div class="hover_box_plus">
                    <a href="#"><i class="fa-brands fa-instagram"></i>Bridely</a>
                </div>
            </figure>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <figure class="mb-0 insta-section-imgs">
                <img src="./assets/images/insta-section-img2.png" alt="" class="img-fluid">
                <div class="hover_box_plus">
                    <a href="#"><i class="fa-brands fa-instagram"></i>Bridely</a>
                </div>
            </figure>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <figure class="mb-0 insta-section-imgs insta-section-imgs-mb">
                <img src="./assets/images/insta-section-img3.png" alt="" class="img-fluid">
                <div class="hover_box_plus">
                    <a href="#"><i class="fa-brands fa-instagram"></i>Bridely</a>
                </div>
            </figure>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <figure class="mb-0 insta-section-imgs insta-section-imgs-mb">
                <img src="./assets/images/insta-section-img4.png" alt="" class="img-fluid">
                <div class="hover_box_plus">
                    <a href="#"><i class="fa-brands fa-instagram"></i>Bridely</a>
                </div>
            </figure> 
        </div>
      </div>
  </div>
</section> -->

<div class="footer-section">      
    <div class="footer-inner">
        <figure class="mb-0 footer-hearts">
            <img src="./assets/images/footer-birds-img.png" alt="" class="star">
        </figure>
        <div class="footer-msg floating-chat">
            <figure class="mb-0 footer-chat-img">
                <img src="./assets/images/footer-chat-img.png" alt="">
            </figure>
        </div>
        <div class="container">
            <div class="footer-content-box">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <h3 class="planning-h3">Let’s Start Planning!</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="banner-btn discover-btn-banner">
                            <a href="about.html" class="text-decoration-none"><i class="fa fa-clipboard-list"></i>Make Reservations</a>
                        </div>
                        <div class="learn-btn">
                            <a href="about.html" class="text-decoration-none">learn more</a>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>
            </div>
    </div>
 
    <div class="row">
        <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12">
            <div class="footer-right-box">
                <a href="index.html" class="text-decoration-none">
                    <figure class="footer-logo"><img src="./assets/images/footer-logo.png" alt="" class="img-fluid"></figure>
                </a>
                    <p class="footer-section-text">Lorem ipsum dolor sit amet, consectetur adipg iscing elitsed do eiusmod tempororem ipsumf dolor sit ame consect amet.</p>
                        <ul class="list-unstyled footer-social-icons">
                            <li class="list-item">
                                <a href="#"><i class="fa-brands fa-facebook-f marginLeft facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter marginLeft twiter"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in marginLeft linkedin"></i></a>
                                <a href="#"><i class="fa-solid fa-g marginLeft gmil"></i></a>
                            </li>
                        </ul>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 d-xl-block d-none"></div>
        <div class="col-xl-3 col-lg-4 col-md-2 col-sm-12 d-lg-block d-none">
            <div class="company-text">
                <p class="company-title">Company</p>
                    <ul class="list-unstyled footer-ul1">
                        <li>
                            <i class="fa-solid fa-caret-right"></i>
                                <a href="about.html" class="text-decoration-none footer-link-p">
                                    About
                                </a>
                            </li>
                            <li>
                            <i class="fa-solid fa-caret-right"></i>
                                <a href="services.html" class="text-decoration-none footer-link-p">
                                Services
                                </a>
                            </li>
                            <li>
                            <i class="fa-solid fa-caret-right"></i>
                                <a href="gallery.html" class="text-decoration-none footer-link-p">
                                Gallery
                                </a>
                            </li>
                            <li>
                            <i class="fa-solid fa-caret-right"></i>
                            <a href="organizer.html" class="text-decoration-none footer-link-p">
                            Organizer
                                </a>
                            </li>
                            </ul>
                            <ul class="list-unstyled footer-ul2">
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="index.html" class="text-decoration-none footer-link-p">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="pricing.html" class="text-decoration-none footer-link-p">
                                        Pricing
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="contact.html" class="text-decoration-none footer-link-p">
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="single_gallery.html" class="text-decoration-none footer-link-p">
                                        Gallery Single
                                    </a>
                                </li>
                            </ul>
                        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-md-block d-none">
                        <div class="footer-list footer-link contact-list">
                            <div class="icon-list-box1">
                                <ul class="list-unstyled contact-us-ul">
                                    <li class="list-item">
                                        <i class="fa-sharp fa-solid fa-phone-volume footer-location3"></i>
                                        <p class="contact-title">Call Us: </p>
                                        <a href="tel:+4733378901" class="text-decoration-none footer-link-auto">(123)456-789-00</a>
                                    </li>
                                    <li class="list-item">
                                        <i class="fa fa-envelope footer-location3"></i>
                                        <p class="contact-title">Email Us:</p>
                                        <a href="mailto:webmaster@example.com" class="text-decoration-none footer-link-auto">help@Bridely.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>          
        </div>
   <div class="row">
       <div class="col-lg-5 col-md-6 col-sm-12">

       </div>
       <div class="col-lg-7 col-md-6 col-sm-12">
        <p class="footer-end-text">Copyright ©2022 Bridely.com All Rights Reserved</p>
       </div>
   </div>
    </div>
    </div>   
 </div>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="assets/js/animations.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/text-animations.js"></script>
    <script src="assets/js/carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script src="https://unpkg.com/ityped@0.0.10"></script>
    <script src="./assets/js/type.js"></script>
    <script src="assets/js/custom-script.js"></script>
    <script src="./assets/js/video-popup.js"></script>
</body>

</html>