<!doctype html>
<html>

<head>
    <title>Event Hub Demo Day Index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;400&family=Roboto:wght@100;400;500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="./css/indexstyle.css">
</head>

<body>
    <!-- <header>
        <nav>
            <ul>
                <li>SERVICES</li>
                <li>CONTACT</li>
            </ul>
        </nav>
    </header> -->

    <section class="main">
        <h1>Event Hub</h1>
        <h2>Let's plan your next event together</h2> 
        <section class="bothbtns">
            <a href="/login" class="btn btn-default button"><button class="fa fa-user">Login</button></a>
            <a href="/signup" class="btn btn-default button"><button class="fa fa-user">Signup</button></a>
        </section>
        <div class="overlay"></div>
    </section>
    <section class="features">

    </section>

</body>

</html>