<!doctype html>
<html>

<head>
    <title>Demo Day App</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300;400&family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./css/indexstyle.css">
</head>

<body>
    <!-- <div class="container"> -->
        <!-- <div class="jumbotron text-center"> -->

            <h1>Launch Your Event Today</h1>
            <!-- <img src="" alt=""> -->

            <!-- <p>Login or Signup:</p> -->

            <section class="bothbtns">
                <a href="/login" class="btn btn-default button"><button class="fa fa-user">Login</button></a>
                <a href="/signup" class="btn btn-default button"><button class="fa fa-user">Signup</button></a>
            </section>

        <!-- </div> -->
    <!-- </div> -->

</body>
</html>