<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | EventHub</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="./assets/css/mobile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>

<body>
    <!-- HEADER-SECTION -->
    <div class="home-header-section sub-header-section">
        <div class="header-top header-top1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 d-md-block d-sm-none">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-right float-md-right float-none">
                            <ul class="list-unstyled">
                                <li class="d-inline-block"><a class="d-inline-block email-span text-decoration-none"
                                        href="mailto:info@sencare.com">Folllow us on:</a></li>
                                <li class="d-inline-block user-li"><i class="fa-brands fa-facebook-f"></i></li>
                                <li class="d-inline-block user-li"><i class="fa-brands fa-twitter"></i></li>
                                <li class="d-inline-block user-li"><i class="fa-brands fa-pinterest-p"></i></li>
                                <li class="d-inline-block user-li"><i class="fa-brands fa-instagram"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="main-header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <!-- <a class="navbar-brand pt-0" href="/"><img src="./assets/images/bridely-logo.png"
                                alt="" class="img-fluid diverge-logo"></a> -->
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                                        href="/">Home<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="/about">About</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="services.html">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="gallery.html">Gallery</a>
                                </li> -->
                                <!-- <li class="nav-item navbar-text-color"><a class="nav-link text-decoration-none contact-us-margin navbar-text-color" href="pricing.html">Pricing</a></li> -->
                                <!-- <li class="nav-item dropdown redlight-dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <div class="dropdown-menu dropdown-content-redlight">
                                        <ul class="list-unstyled">
                                            <li class="nav-item"> <a class="dropdown-item nav-link"
                                                    href="pricing.html">Pricing</a></li>
                                            <li class="nav-item"> <a class="dropdown-item nav-link"
                                                    href="single_gallery.html">Gallery Single</a></li>
                                            <li class="nav-item"> <a class="dropdown-item nav-link"
                                                    href="organizer.html">Event Organizer</a></li>        
                                            <li class="nav-item"> <a class="dropdown-item nav-link"
                                                    href="comming-soon.html">Comming soon</a></li>
                                        </ul>
                                    </div>
                                </li> -->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- BANNER-SECTION -->
        <div class="home-banner-section overflow-hidden position-relative sub-baner">
            <figure class="banner-img1 mb-0">
                <img src="./assets/images/banner-img1.png" alt="" class="star">
            </figure>
            <figure class="banner-img2 mb-0">
                <img src="./assets/images/banner-img2.png" alt="" class="star">
            </figure>
            <div class="banner-container-box contact-banner">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 order-lg-2 order-1">
                            <div class="home-banner-text position-relative sub-banner-section" data-aos="fade-up" id="myContentDIV">
                                <h1><span class="h1-text">Log In</span></h1>
                                <p class="banner-paragraph">To demo the site, feel free to use the email and password below: </br>
                                    Email - cindy@gmail.com </br>
                                    Password - testingone
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--Get-in-touch  -->
<div class="get-in-touch">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="send_message_form_box_content">
                    <h2>Log In: </h2>
                    <br>
                   <!-- <figure class="contact-form-img">
                       <img src="./assets/images/contact-form-img.png" alt="" class="img-fluid">
                   </figure> -->
                   <% if (locals.messages.errors) { %> 
                        <% messages.errors.forEach( el => { %>
                            <div class="alert alert-danger"><%= el.msg %></div>
                        <% }) %>   
                    <% } %> 
                    <% if (locals.messages.info) { %> 
                        <% messages.info.forEach( el => { %>
                            <div class="alert alert-info"><%= el.msg %></div>
                        <% }) %> 
                    <% } %>
                    <form id="contactpage" method="POST" action="/login" class="contactpage-form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-0">    
                                <input type="text" class="form_style" placeholder="Email" name="email"> 
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-0">
                                <input type="password" class="form_style" placeholder="Password" name="password">
                                </div>
                            </div>
                            <!-- <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-0">    
                                <input type="tel" class="form_style" placeholder="Phone" name="phone"> 
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group mb-0">    
                                <input type="text" class="form_style choose-services" placeholder="Choose Services:"><i class="fa-solid fa-chevron-right"></i>
                                </div>
                            </div> -->
                            
                        </div>
                        <!-- <div class="row">
                            <div class="col-lg-12">
                                <div class=" form-group mb-0">    
                                <textarea class="form_style" placeholder="Message" rows="3" name="comments"></textarea>
                                </div>
                            </div>
                        </div> -->
                        <div class="form_button_wrapper text-center">
                            <button type="submit" class="appointment-btn">Log In</button>
                        </div>
                    </form>
                    <div class="send_message_form_box_content">
                        <p>Need an account? <a href="/signup">Signup</a></p>
                        <p>Or go <a href="/">home</a>.</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-xl-block d-none"></div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
                <div class="about-content-img aos-init aos-animate" data-aos="fade-up">
                    <figure class="mb-0 about-section-f1"><img src="./assets/images/get-in-img.png" alt="" class="star">
                    </figure>
                    <h2>Interested in  discussing? Get In touch with us.</h2>
                     <h6>Follow us:</h6>
                     <ul class="list-unstyled footer-social-icons">
                        <li class="list-item">
                            <a href="#"><i class="fa-brands fa-square-facebook marginLeft "></i></a>
                            <a href="#"><i class="fa-brands fa-square-twitter marginLeft twiter"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin marginLeft"></i></a>
                            <a href="#"><i class="fa-brands fa-square-pinterest marginLeft"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- contact-details-section -->
<section class="contact-details-section-outer">
    <figure class="design-img mb-0">
        <img src="./assets/images/categories-img6.png" alt="" class="">
    </figure>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-images">
                    <figure class="design-img-hearts mb-0">
                        <img src="./assets/images/contact-details-hearts.png" alt="" class="star">
                    </figure>
                </div>
                <h5 class="autorix-text aos-init aos-animate"><span class="ityped">Contact with Us</span><span class="ityped-cursor">|</span></h5>
                    <h2 class="aos-init aos-animate">Contact Details</h2>
            </div>
        </div>
    </div>
</section>
<div class="contact-details-section">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-lg-12">
                <div class="carts_outer float-left w-100">
                    <div class="carts">
                        <ul class="list-unstyled">
                            <li class="first">
                                <figure class="mb-0 d-inline-block"><img src="./assets/images/contact-detail-img1.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Phone:</span>
                                   <a href="tel:+(123)456789111" class="text-decoration-none profession phone-number"> +(123) 456 789 111  </a>      
                                    <a href="tel:+(321)111456789"  class="text-decoration-none profession phone-number"> +(321) 111 456 789</a>
                                </div>
                            </li>
                            <li class="second">
                                <figure class="mb-0 d-inline-block"><img src="./assets/images/contact-detail-img2.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Address:</span>
                                    <span class="profession">121 King Street Melbourne, 3000, Australia</span>
                                </div>
                            </li>
                            <li class="third">
                                <figure class="mb-0 d-inline-block"><img src="./assets/images/contact-detail-img3.png" alt=""></figure>
                                <div class="carts_wrapper">
                                    <span class="rating counter">Email:</span>
                                    <a href="mailto:support@bridely.com" class="text-decoration-none profession">support@bridely.com</a>
                                        <a href="mailto:support@bridely.com" class="text-decoration-none profession">  events@bridely.com </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- map-section -->
<div class="map-section overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.332792000837!2d144.96230210000004!3d-37.80567329999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2s!4v1658996311977!5m2!1sen!2s" width="1114" height="366" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="footer-section">      
    <div class="footer-inner">
        <figure class="mb-0 footer-hearts">
            <img src="./assets/images/footer-birds-img.png" alt="" class="star">
        </figure>
        <div class="footer-msg floating-chat">
            <figure class="mb-0 footer-chat-img">
                <img src="./assets/images/footer-chat-img.png" alt="">
            </figure>
        </div>
        <div class="container">
            <div class="footer-content-box">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <h3 class="planning-h3">Let’s Start Planning!</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="banner-btn discover-btn-banner">
                            <a href="about.html" class="text-decoration-none"><i class="fa fa-clipboard-list"></i>Make Reservations</a>
                        </div>
                        <div class="learn-btn">
                            <a href="about.html" class="text-decoration-none">learn more</a>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>
            </div>
    </div>
 
    <div class="row">
        <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12">
            <div class="footer-right-box">
                <a href="index.html" class="text-decoration-none">
                    <figure class="footer-logo"><img src="./assets/images/footer-logo.png" alt="" class="img-fluid"></figure>
                </a>
                    <p class="footer-section-text">Lorem ipsum dolor sit amet, consectetur adipg iscing elitsed do eiusmod tempororem ipsumf dolor sit ame consect amet.</p>
                        <ul class="list-unstyled footer-social-icons">
                            <li class="list-item">
                                <a href="#"><i class="fa-brands fa-facebook-f marginLeft facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter marginLeft twiter"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin-in marginLeft linkedin"></i></a>
                                <a href="#"><i class="fa-solid fa-g marginLeft gmil"></i></a>
                            </li>
                        </ul>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 d-xl-block d-none"></div>
        <div class="col-xl-3 col-lg-4 col-md-2 col-sm-12 d-lg-block d-none">
            <div class="company-text">
                <p class="company-title">Company</p>
                    <ul class="list-unstyled footer-ul1">
                        <li>
                            <i class="fa-solid fa-caret-right"></i>
                                <a href="about.html" class="text-decoration-none footer-link-p">
                                    About
                                </a>
                            </li>
                            <li>
                            <i class="fa-solid fa-caret-right"></i>
                                <a href="services.html" class="text-decoration-none footer-link-p">
                                Services
                                </a>
                            </li>
                            <li>
                            <i class="fa-solid fa-caret-right"></i>
                                <a href="gallery.html" class="text-decoration-none footer-link-p">
                                Gallery
                                </a>
                            </li>
                            <li>
                            <i class="fa-solid fa-caret-right"></i>
                            <a href="organizer.html" class="text-decoration-none footer-link-p">
                            Organizer
                                </a>
                            </li>
                            </ul>
                            <ul class="list-unstyled footer-ul2">
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="index.html" class="text-decoration-none footer-link-p">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="pricing.html" class="text-decoration-none footer-link-p">
                                        Pricing
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="contact.html" class="text-decoration-none footer-link-p">
                                        Contact Us
                                    </a>
                                </li>
                                <li>
                                    <i class="fa-solid fa-caret-right"></i>
                                    <a href="single_gallery.html" class="text-decoration-none footer-link-p">
                                        Gallery Single
                                    </a>
                                </li>
                            </ul>
                        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 d-md-block d-none">
                        <div class="footer-list footer-link contact-list">
                            <div class="icon-list-box1">
                                <ul class="list-unstyled contact-us-ul">
                                    <li class="list-item">
                                        <i class="fa-sharp fa-solid fa-phone-volume footer-location3"></i>
                                        <p class="contact-title">Call Us: </p>
                                        <a href="tel:+4733378901" class="text-decoration-none footer-link-auto">(123)456-789-00</a>
                                    </li>
                                    <li class="list-item">
                                        <i class="fa fa-envelope footer-location3"></i>
                                        <p class="contact-title">Email Us:</p>
                                        <a href="mailto:webmaster@example.com" class="text-decoration-none footer-link-auto">help@Bridely.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>          
        </div>
   <div class="row">
       <div class="col-lg-5 col-md-6 col-sm-12">

       </div>
       <div class="col-lg-7 col-md-6 col-sm-12">
        <p class="footer-end-text">Copyright ©2022 Bridely.com All Rights Reserved</p>
       </div>
   </div>
    </div>
    </div>   
 </div>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="assets/js/animations.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/owl.carousel.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="assets/js/text-animations.js"></script>
    <script src="assets/js/carousel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script src="https://unpkg.com/ityped@0.0.10"></script>
    <script src="./assets/js/type.js"></script>
    <script src="assets/js/custom-script.js"></script>
    <script src="./assets/js/video-popup.js"></script>
</body>

</html>