* {
    box-sizing: border-box;
    /* font-family:serif; */
    font-family: "Noto Serif Display";
    /* font-weight: 400; */
    color: #69443C;
  }
  
  
  body {
    word-wrap: break-word;
    background: url("img/backgroundOne.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin:0;
    padding:50px;
  }
  
  /* header start */
  
  .logoutbtn{
    color:#69443C;
    background:white;
    border:none;
    border-radius:10px;
    font-weight:600;
    padding:8px 30px;
  }
  
  .logoutbtn:hover{
    color:white;
    background:#69443C;
    border:none;
  }
  
  .page-header{
    display:flex;
    /* justify-content:space-evenly; */
    align-items:center;
    width:100%;
    justify-content:space-between;
    border-bottom:1px solid white;
  }
  
  /* end of header  */
  
  
  /* beginning of event planning */
  .event{
    margin-bottom:40px;
  }
  
  
  
  table{
    border-collapse:collapse;
    margin:20px;
  }
  
  td, th{
    text-align:center;
    padding:10px;
  }
  
  td{
    border-bottom:1px solid white;
    
  }
  
  .invitebtn{
    border:1px solid black;
    padding:2px 10px 2px 10px;
    box-shadow:2px 2px 2px white;
  }
  
  
  
  
  
  